.figureBox{
  position: absolute;
  z-index: 800;
  top: 44px;
  right: -14px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 480px) {
  .figureBox{
      flex-direction: row;
      top: 1rem;
      left: -1rem;
  }
}