.login{
  &-box{
    display:flex;
    justify-content:center;  //子元素水平居中
    align-items:center;      //子元素垂直居中
    width: 100%;
    height: calc(100% - 140px);
  }
  &-content {
    padding: 0 18px;
    img {
      display: block;
      margin: 42px auto 20px auto;
    }
    h3 {
      text-align: center;
      color:#1a1a1a;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 16px
    }
    p {
      text-align: center;
      color:#ccc;
      font-size: 14px;
      background: none;
      border: none;
      line-height: 1.5
    }
  }
  &-input {
    &-box {
      width: 360px;
      margin: 30px auto;
      position: relative;
      input {
        display: block;
        box-sizing: border-box;
        width: 240px;
        height: 36px;
        border-radius: 24px;
        background-color: #f1f1f1;
        border:none;
        font-size: 14px;
        margin: 12px auto;
        text-align: center;
      }
    }
    &-submit {
      display: block;
      width: 240px;
      height: 36px;
      box-sizing: border-box;
      background-color: #f95f56;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      border-radius: 24px;
      margin: 12px auto
    }
    &-switch {
      font-size: 12px;
      text-align: center;
      display: block;
      width: 100%;
      color: #4456a7;
    }
  }
}

