$color_main:#ffd03f;
$b_border:1px solid #111111;
$color_wathet:#2fd2db;
$color_pink:#ff98c6;
$color_violet:#817ef8;

$main_bg:#4456a7;
$green_bg:#44a75e;
$red_bg:#a74444;
$black_bg:#474747;
$whilte0:rgba(255,255,255,0);
$whilte1:rgba(255,255,255,1);

$font:"lucida Grande",Verdana;
$art_font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
